/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 16pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}
/*	From:
https://stackoverflow.com/questions/29274501/r-markdown-changing-font-size-and-font-type-in-html-output	*/